/****************************/
/*  0. Main
/****************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "montserratLocal";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-Light.ttf") format("truetype");
}

body {
  background-color: #1a1a1a;
  color: #f4f4f4;
  font-family: "montserratLocal";
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

/****************************/
/*  1. Navigation
/****************************/
#nav {
  background-color: #131313;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32px;
          flex: 0 1 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-app-region: drag;
  top: 0;
  width: 100%;
  z-index: 999;
}

#nav #title {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  padding-left: 10px;
  font-weight: bold;
}

#nav #minimize,
#nav #maximize,
#nav #close {
  padding: 8px 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-app-region: none;
  cursor: pointer;
}

#nav #minimize img,
#nav #maximize img,
#nav #close img {
  pointer-events: none;
  width: 12px;
  height: auto;
  fill: #a8a8a8;
}

#nav #minimize:hover,
#nav #maximize:hover {
  background-color: rgba(61, 61, 61, 0.933);
}

#nav #close:hover {
  background-color: #b90808;
}

/****************************/
/*  2. On-Start Screen
/****************************/
.initialization {
  height: 100%;
  width: 100%;
  margin-top: 32px;
  background-color: #1a1a1a;
  position: absolute;
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.initialization p {
  opacity: 0;
  margin-bottom: 10px;
  -webkit-animation: opacityBounce 1s infinite alternate;
          animation: opacityBounce 1s infinite alternate;
}

.initialization span {
  color: #b4b4b4;
}

@-webkit-keyframes opacityBounce {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityBounce {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

/****************************/
/*  3. Content
/****************************/
main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #topbar {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 90px;
          flex: 0 1 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #topbar .newproduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 90%;
  margin-right: 10px;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.933) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.933) 0px 0px 10px;
}

main #topbar .newproduct input {
  width: 100%;
  font-family: "montserratLocal";
  height: 50px;
  background-color: #272727;
  color: #c0c0c0;
  border: none;
  border-radius: 20px 0 0 20px;
  padding: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main #topbar .newproduct input:focus {
  outline: none;
  background-color: #414141;
}

main #topbar .newproduct .product_input_btn {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #414141;
  border: none;
  border-radius: 0 20px 20px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main #topbar .newproduct .product_input_btn:focus {
  outline: none;
}

main #topbar .newproduct .product_input_btn:active {
  background-color: #707070;
}

main #topbar .newproduct .product_input_btn:hover {
  background-color: #6b6a6a;
}

main #topbar .newproduct .product_input_btn:disabled {
  background-color: #2c2c2c;
}

main #topbar .newproduct .product_input_btn:disabled:hover {
  background-color: #2c2c2c;
  cursor: not-allowed;
}

main #topbar .newproduct .product_input_btn img {
  height: auto;
  width: 20px;
}

main #topbar .refresh_btn {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #414141;
  border: none;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: rgba(0, 0, 0, 0.933) 0px 0px 10px;
          box-shadow: rgba(0, 0, 0, 0.933) 0px 0px 10px;
}

main #topbar .refresh_btn:focus {
  outline: none;
}

main #topbar .refresh_btn:active {
  background-color: #707070;
}

main #topbar .refresh_btn:hover {
  background-color: #6b6a6a;
}

main #topbar .refresh_btn:disabled {
  background-color: #2c2c2c;
}

main #topbar .refresh_btn:disabled:hover {
  background-color: #2c2c2c;
  cursor: not-allowed;
}

main #topbar .refresh_btn img {
  height: auto;
  width: 20px;
}

main #info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25px;
          flex: 0 1 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #info p {
  padding: 10px 30px;
  border-radius: 22px;
  margin: 0 10px;
  background: #272727;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

main #info p #totalprice,
main #info p #totalproducts {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-weight: 600;
  padding: 0 10px;
}

main #product_container {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 auto;
          flex: 3 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #product_container #product_list {
  height: 100%;
  overflow-y: scroll;
  list-style: none;
  width: 100%;
}

main #product_container #product_list::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

main #product_container #product_list::-webkit-scrollbar-track {
  background: #1a1a1a;
  /* color of the tracking area */
}

main #product_container #product_list::-webkit-scrollbar-thumb {
  background-color: #414141;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #1a1a1a;
  /* creates padding around scroll thumb */
}

main #product_container #product_list .nothing_div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: center;
  opacity: 0;
  padding-top: 15vh;
}

main #product_container #product_list .nothing_div p {
  font-size: 30px;
  max-width: 700px;
}

main #product_container #product_list .nothing_div p span {
  opacity: 0.8;
  font-size: 20px;
  line-height: 0.7em;
}

main #product_container #product_list .product {
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
}

main #product_container #product_list .product .product_content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  min-height: 120px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 8px;
  background: #272727;
}

main #product_container #product_list .product .product_content .product_name {
  padding: 0rem 0.5rem;
  font-size: 1.6vw;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media screen and (min-width: 1300px) {
  main #product_container #product_list .product .product_content .product_name {
    font-size: 20.768px;
  }
}

main #product_container #product_list .product .product_content a {
  padding: 15px;
  width: 18%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

main #product_container #product_list .product .product_content a .product_image {
  pointer-events: none;
  position: relative;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 8px;
}

main #product_container #product_list .product .product_content .product_price {
  padding: 0rem 2rem;
  font-size: 1.6vw;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (min-width: 1300px) {
  main #product_container #product_list .product .product_content .product_price {
    font-size: 20.768px;
  }
}

main #product_container #product_list .product .product_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
  min-height: 80px;
  align-items: center;
}

main #product_container #product_list .product .product_buttons .delete_btn,
main #product_container #product_list .product .product_buttons .check_btn,
main #product_container #product_list .product .product_buttons .link_btn {
  float: right;
  border-radius: 8px;
  border: none;
  margin: 0.2vw;
  width: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  text-align: center;
  cursor: pointer;
  padding: 6px;
}

main #product_container #product_list .product .product_buttons .delete_btn img,
main #product_container #product_list .product .product_buttons .check_btn img,
main #product_container #product_list .product .product_buttons .link_btn img {
  background: none;
  width: 2.6vw;
  max-width: 35px;
  height: auto;
  pointer-events: none;
}

main #product_container #product_list .product .product_buttons .delete_btn {
  background: #a70f0f;
}

main #product_container #product_list .product .product_buttons .delete_btn:hover {
  background-color: #790a0a;
}

main #product_container #product_list .product .product_buttons .check_btn {
  background: #0fa735;
}

main #product_container #product_list .product .product_buttons .check_btn:hover {
  background-color: #0a8128;
}

main #product_container #product_list .product .product_buttons .link_btn {
  background: #272727;
}

main #product_container #product_list .product .product_buttons .link_btn:hover {
  background-color: #363636;
}

.product_checked {
  background: #6ecf7e !important;
  text-decoration: line-through;
  color: #2b2727;
}

.refresh_overlay {
  position: absolute;
  width: 100%;
  pointer-events: none;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.856);
}

.popup {
  padding: 20px 30px;
  margin: auto;
  background: #1a1a1a;
  color: #f4f4f4;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 10;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.788);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.788);
}

/****************************/
/*  4. Footer
/****************************/
footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45px;
          flex: 0 1 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  background: #131313;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  -webkit-box-ordinal-group: 100;
      -ms-flex-order: 99;
          order: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .right .footer_buttons {
  margin: 0 10px;
}

footer .right .footer_buttons button {
  margin-left: 0 5px;
  border-radius: 8px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  color: #f4f4f4;
  padding: 10px 15px;
  background-color: #272727;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .right .footer_buttons button:hover {
  background-color: #363636;
}

/****************************/
/*  5. Animations
/****************************/
.fadeout {
  -webkit-animation: fadeout 0.5s;
          animation: fadeout 0.5s;
}

.fadein {
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
}

.working {
  -webkit-animation: workingFade 6.3s ease alternate;
          animation: workingFade 6.3s ease alternate;
}

.hidden {
  display: none;
  height: 0;
  width: 0;
}

.rotate {
  -webkit-animation: rotate infinite 0.8s linear;
          animation: rotate infinite 0.8s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes workingFade {
  0% {
    background: #272727;
    color: #c0c0c0;
  }
  25% {
    background: #eecb57;
    color: #2b2727;
  }
  50% {
    background: #ee9b57;
    color: #2b2727;
  }
  75% {
    background: #eecb57;
    color: #2b2727;
  }
  100% {
    background: #272727;
    color: #c0c0c0;
  }
}

@keyframes workingFade {
  0% {
    background: #272727;
    color: #c0c0c0;
  }
  25% {
    background: #eecb57;
    color: #2b2727;
  }
  50% {
    background: #ee9b57;
    color: #2b2727;
  }
  75% {
    background: #eecb57;
    color: #2b2727;
  }
  100% {
    background: #272727;
    color: #c0c0c0;
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
/*# sourceMappingURL=style.css.map */